<div class="w-full max-w-4xl px-4 mx-auto">
  <form
  id="medium-link-form"
  class="flex items-center gap-3 px-4 py-3 bg-white border border-gray-300 dark:border-gray-500 dark:bg-gray-800 rounded-xl focus-within:ring-1 focus-within:ring-green-400 focus-within:border-green-400"
>
  <svg
    class="w-5 h-5 text-gray-400 dark:text-gray-300 shrink-0"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M21 21l-4.35-4.35M10.5 18a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15z"
    ></path>
  </svg>

    <input
      id="medium-link-input"
      type="text"
      placeholder="Enter Medium post link"
      class="w-full text-gray-900 bg-transparent border-0 focus:border-0 focus:ring-0 focus:outline-none placeholder-gray-400 dark:text-white dark:placeholder-gray-300"
    />

    <button
      type="submit"
      aria-label="Open Medium post"
      class="px-5 py-2.5 font-medium text-white bg-green-500 rounded-lg shrink-0 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400"
    >
      Go
    </button>
  </form>
</div>

<script>
  document
    .getElementById("medium-link-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const mediumLinkInput = document.getElementById("medium-link-input");
      const mediumLink = mediumLinkInput.value.trim();

      if (!mediumLink) {
        return;
      }

      window.location.href = `${window.location.origin}/${mediumLink}`;
    });
</script>
