<div class="w-full max-w-4xl px-4 mx-auto">
    <div class="p-4 bg-white border border-gray-200 shadow-md dark:bg-gray-700 dark:border-gray-600 rounded-2xl">
        <form
            action="/"
            method="get"
            class="flex items-center gap-3 px-4 py-3 border border-gray-300 dark:border-gray-500 rounded-xl"
        >
            <span class="text-xl text-gray-500 dark:text-gray-300">+</span>

            <input
                type="text"
                name="url"
                placeholder="Enter Medium post link"
                class="w-full text-gray-900 bg-transparent border-0 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-300 focus:border-0 focus:ring-0 focus:outline-none"
            >

            <button
                type="submit"
                class="px-5 py-2.5 font-medium text-white bg-green-500 rounded-lg hover:bg-green-600"
            >
                Go
            </button>
        </form>
    </div>
</div>

<script>
  document
    .getElementById("medium-link-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const mediumLinkInput = document.getElementById("medium-link-input");
      window.location.href = `${window.location.origin}/${mediumLinkInput.value}`;
    });
</script>
